body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    color: #fff
}

.text {
    width: 750px;
    color: #fff;
    font-family: sans-serif;
    font-size: 100px;
    position: relative;
    margin: 0 auto
}

.text::before {
    content: attr(data-text);
    background-color: #000;
    position: absolute;
    left: -3px;
    text-shadow: -3px 0 blue;
    animation: horizontalanimation 2s linear infinite alternate-reverse
}

.text::after {
    content: attr(data-text);
    background-color: #000;
    position: absolute;
    left: 3px;
    text-shadow: 3px 0 red;
    animation: verticalanimation 2s linear infinite alternate-reverse
}

@keyframes verticalanimation {
    0% {
        -webkit-clip-path: inset(26px 0 25px 0);
        clip-path: inset(26px 0 25px 0)
    }

    4% {
        -webkit-clip-path: inset(37px 0 20px 0);
        clip-path: inset(37px 0 20px 0)
    }

    8% {
        -webkit-clip-path: inset(10px 0 34px 0);
        clip-path: inset(10px 0 34px 0)
    }

    12% {
        -webkit-clip-path: inset(72px 0 74px 0);
        clip-path: inset(72px 0 74px 0)
    }

    16% {
        -webkit-clip-path: inset(95px 0 64px 0);
        clip-path: inset(95px 0 64px 0)
    }

    20% {
        -webkit-clip-path: inset(100px 0 57px 0);
        clip-path: inset(100px 0 57px 0)
    }

    24% {
        -webkit-clip-path: inset(72px 0 8px 0);
        clip-path: inset(72px 0 8px 0)
    }

    28% {
        -webkit-clip-path: inset(10px 0 100px 0);
        clip-path: inset(10px 0 100px 0)
    }

    32% {
        -webkit-clip-path: inset(55px 0 78px 0);
        clip-path: inset(55px 0 78px 0)
    }

    36% {
        -webkit-clip-path: inset(39px 0 30px 0);
        clip-path: inset(39px 0 30px 0)
    }

    40% {
        -webkit-clip-path: inset(79px 0 83px 0);
        clip-path: inset(79px 0 83px 0)
    }

    44% {
        -webkit-clip-path: inset(30px 0 94px 0);
        clip-path: inset(30px 0 94px 0)
    }

    48% {
        -webkit-clip-path: inset(15px 0 19px 0);
        clip-path: inset(15px 0 19px 0)
    }

    52% {
        -webkit-clip-path: inset(63px 0 21px 0);
        clip-path: inset(63px 0 21px 0)
    }

    56% {
        -webkit-clip-path: inset(63px 0 5px 0);
        clip-path: inset(63px 0 5px 0)
    }

    60% {
        -webkit-clip-path: inset(57px 0 97px 0);
        clip-path: inset(57px 0 97px 0)
    }

    64% {
        -webkit-clip-path: inset(67px 0 30px 0);
        clip-path: inset(67px 0 30px 0)
    }

    68% {
        -webkit-clip-path: inset(72px 0 33px 0);
        clip-path: inset(72px 0 33px 0)
    }

    72% {
        -webkit-clip-path: inset(98px 0 31px 0);
        clip-path: inset(98px 0 31px 0)
    }

    76% {
        -webkit-clip-path: inset(81px 0 39px 0);
        clip-path: inset(81px 0 39px 0)
    }

    80% {
        -webkit-clip-path: inset(5px 0 59px 0);
        clip-path: inset(5px 0 59px 0)
    }

    84% {
        -webkit-clip-path: inset(63px 0 85px 0);
        clip-path: inset(63px 0 85px 0)
    }

    88% {
        -webkit-clip-path: inset(86px 0 40px 0);
        clip-path: inset(86px 0 40px 0)
    }

    92% {
        -webkit-clip-path: inset(66px 0 4px 0);
        clip-path: inset(66px 0 4px 0)
    }

    96% {
        -webkit-clip-path: inset(29px 0 47px 0);
        clip-path: inset(29px 0 47px 0)
    }

    100% {
        -webkit-clip-path: inset(8px 0 92px 0);
        clip-path: inset(8px 0 92px 0)
    }
}

@keyframes horizontalanimation {
    0% {
        -webkit-clip-path: inset(0 77px 0 29px);
        clip-path: inset(0 77px 0 29px)
    }

    4% {
        -webkit-clip-path: inset(0 89px 0 29px);
        clip-path: inset(0 89px 0 29px)
    }

    8% {
        -webkit-clip-path: inset(0 79px 0 20px);
        clip-path: inset(0 79px 0 20px)
    }

    12% {
        -webkit-clip-path: inset(0 13px 0 50px);
        clip-path: inset(0 13px 0 50px)
    }

    16% {
        -webkit-clip-path: inset(0 84px 0 71px);
        clip-path: inset(0 84px 0 71px)
    }

    20% {
        -webkit-clip-path: inset(0 58px 0 34px);
        clip-path: inset(0 58px 0 34px)
    }

    24% {
        -webkit-clip-path: inset(0 88px 0 89px);
        clip-path: inset(0 88px 0 89px)
    }

    28% {
        -webkit-clip-path: inset(0 77px 0 31px);
        clip-path: inset(0 77px 0 31px)
    }

    32% {
        -webkit-clip-path: inset(0 32px 0 69px);
        clip-path: inset(0 32px 0 69px)
    }

    36% {
        -webkit-clip-path: inset(0 49px 0 60px);
        clip-path: inset(0 49px 0 60px)
    }

    40% {
        -webkit-clip-path: inset(0 42px 0 2px);
        clip-path: inset(0 42px 0 2px)
    }

    44% {
        -webkit-clip-path: inset(0 48px 0 34px);
        clip-path: inset(0 48px 0 34px)
    }

    48% {
        -webkit-clip-path: inset(0 13px 0 26px);
        clip-path: inset(0 13px 0 26px)
    }

    52% {
        -webkit-clip-path: inset(0 42px 0 81px);
        clip-path: inset(0 42px 0 81px)
    }

    56% {
        -webkit-clip-path: inset(0 88px 0 31px);
        clip-path: inset(0 88px 0 31px)
    }

    60% {
        -webkit-clip-path: inset(0 83px 0 61px);
        clip-path: inset(0 83px 0 61px)
    }

    64% {
        -webkit-clip-path: inset(0 43px 0 56px);
        clip-path: inset(0 43px 0 56px)
    }

    68% {
        -webkit-clip-path: inset(0 90px 0 45px);
        clip-path: inset(0 90px 0 45px)
    }

    72% {
        -webkit-clip-path: inset(0 37px 0 71px);
        clip-path: inset(0 37px 0 71px)
    }

    76% {
        -webkit-clip-path: inset(0 77px 0 74px);
        clip-path: inset(0 77px 0 74px)
    }

    80% {
        -webkit-clip-path: inset(0 64px 0 1px);
        clip-path: inset(0 64px 0 1px)
    }

    84% {
        -webkit-clip-path: inset(0 43px 0 48px);
        clip-path: inset(0 43px 0 48px)
    }

    88% {
        -webkit-clip-path: inset(0 99px 0 5px);
        clip-path: inset(0 99px 0 5px)
    }

    92% {
        -webkit-clip-path: inset(0 77px 0 19px);
        clip-path: inset(0 77px 0 19px)
    }

    96% {
        -webkit-clip-path: inset(0 12px 0 24px);
        clip-path: inset(0 12px 0 24px)
    }

    100% {
        -webkit-clip-path: inset(0 43px 0 36px);
        clip-path: inset(0 43px 0 36px)
    }
}