.InstantAction-SubjectTitel{
    display: flex;
    padding: 10px;
    border-top-left-radius: 5px;
    border-left: 6px ridge rgb(114,76,52,0.7);
    border-top: 6px ridge rgb(114,76,52,0.7);
    background: linear-gradient(to right bottom,rgb(79, 37, 177),rgba(79, 37, 177,0.8),rgba(79, 37, 177,0.7), rgba(255, 0, 0, 0));
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 30vw;
    min-width: max-content;
}