body {
    font-family: "MS PGothic JP", Meiryo;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

span {
    font-size: 1%;
}

.container {
    min-width: min-content;
    display: flex;
    margin: auto;
    background: #f5deb3;
    background: linear-gradient(145deg, #f0e68c, #d2b48c);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.JobList {
    display: flex;
    width: 100%;
}

.Character-InformationTab {
    position: relative;
    height: fit-content;
    width: 0%;
    z-index: 1;
}

.Character-Information {
    width: 0%;
    opacity: 0;
    display: none;
    transform: translateX(-100%);
    visibility: hidden;
    transition: 0.1s;
}

.Character-Actions {
    transition: 0.5s;
    max-width: 100%;
    display: flex;
    scrollbar-width: none;
    align-items: baseline;
    flex-direction: column;
    position: relative;
    z-index: 0;
}

::-webkit-scrollbar {
    /*display: none;*/
}

.header {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #8b4513;
}

.SubjectTab {
    padding: 10px;
    max-width: 30%;
    min-width: min-content;
    background: linear-gradient(to bottom right, #292929, #222222);
    margin: 10px;
    position: relative;
}

.SubjectTab::after {
    content: "";
    top: -5px;
    left: -5px;
    width: calc(100% + 5px);
    height: 15vh;
    border-radius: 5px;
    border: ridge 5px #bda45b;
    border-right: rgba(0, 0, 0, 0);
    border-bottom: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.7) -5px -5px 2px 0px;
    position: absolute;
}

.SubjectTitel {
    display: flex;
    align-items: baseline;
    color: #FFF;
}

.Action {
    /*max-width: 20vw;*/
}

.ImportJson {
    margin-left: auto;
    position: relative;
    display: flex;
    text-align: center;
    cursor: pointer;
    background: #efefef;
    border: 1px solid #595656;
    justify-content: center;
    align-items: center;
}
.ImportJson:hover{
    background-color: #ddd;
}
.ImportJson span{
    font-size: 1em;
}
.ActionTitel {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #8b4513;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

.ActionMiscellaneous {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 5px;
}

.ActionDeterminationAndTiming {
    display: flex;
    column-gap: 5px;
}

.MiscellaneousTitel {
    color: #8b4513;
}

.ActionCardBorder {
    border: 1px solid #8b4513;
    border-radius: 8px;
    background-color: #F6F2E6;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.ActionSubjectList {
    display: flex;
    flex-wrap: wrap;
    min-height: max-content;
    flex-direction: row;
    margin: 0 10px;
}

.ActionTips {
    border-radius: 8px;
    background-color: #ded2b65d;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 5px 0;
}

.ActionList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

.ActionEffect {
    padding: 5px 0;
}

.ActionDetail {
    display: block;
    width: 100%;
    border-radius: 8px;
    background-color: #DED2B6;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.ActionDetail tr {
    display: flex;
    width: 100%;
}

.ActionIcon {
    position: relative;
    max-width: fit-content;
    grid-area: Icon;
    align-content: center;
    justify-self: center;
}

.ActionName {}

.ActionType {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
}

.ActionUsed {
    display: flex;

}

.ActionType span {
    text-align: right;
    transform: skewX(-20deg);
}

.Cost {
    grid-area: Cost;
}

.Determination {
    grid-area: Determination;
}

@media screen and (max-width: 768px) {
    .SubjectTab {
        max-width: 100%;
    }

    h1 {
        font-size: 6%;
    }

    h2 {
        font-size: 5%;
    }

    h3 {
        font-size: 4%;
    }

    h4 {
        font-size: 3%;
    }

    h5 {
        font-size: 2%;
    }
}

.new-action-form {}

.new-action-form label {
    display: block;
}