label {
    width: 20px;
    height: 80px;
    background-color: #d1d1d1;
    color: #686666;
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 80px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
}

#sideMenu-active:checked+.sideMenu {
    transform: translateX(0);
    max-width: 25%;
    width: 25%;
    min-width: min-content;

    label .fas {
        transform: scaleX(-1);
    }
}

#sideMenu-active:checked~.Character-Actions {
    max-width: 75%;
}

#sideMenu-active:checked+.sideMenu .Character-Information {
    visibility: visible;
    width: 100%;
    transform: translateX(0);
    opacity: 1;
    display: block;
}

#sideMenu-active {
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.sideMenu {
    height: 100vh;
    position: relative;
    transform: translateX(-100%);
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    #sideMenu-active:checked+.sideMenu {
        transform: translateX(0);
        max-width: 90%;
        width: 90%;
        min-width: min-content;
        height: 100%;
        label .fas {
            transform: scaleX(-1);
        }
    }

    #sideMenu-active:checked~.Character-Actions {
        max-width: 0%;
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}