<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Example</title>
    <!-- Vue 3.0 -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./css/JustTestVue.css">
    <link rel="stylesheet" href="./css/CharacterStats.css">
    <link rel="stylesheet" href="./css/LimitBreak.css">
    <link rel="stylesheet" href="./css/MainAction.css">
    <link rel="stylesheet" href="./css/SubAction.css">
    <link rel="stylesheet" href="./css/Instant.css">
    <script>

        const { createApp, ref } = Vue;
    </script>
</head>

<body>
    <div class="container">
        <div class="Character-InformationTab " id="Character-Information">
            <div class="Character-Information Character-InformationBorder">

                <div class="CharacterTitle">
                    <div class="CharacterJobIcon">
                        <img :src="[AdventurerBaseInfo.AdventurerJobIcon]" :alt="[AdventurerBaseInfo.AdventurerJob]">
                    </div>
                    <div class="CharacterNameRace">
                        <p>冒険者名/種族</p>
                        <h1>{{AdventurerBaseInfo.AdventurerName}}/{{AdventurerBaseInfo.AdventurerRace}}</h1>
                    </div>
                </div>
                <div class="CharacterJobTitel">
                    <div class="level">
                        <h1>LV{{Adventurerstatus.AdventurerLevel}}</h1>
                    </div>&nbsp;
                    <div class="CharacterJobRole">
                        <h1>{{AdventurerBaseInfo.AdventurerRole}}/{{AdventurerBaseInfo.AdventurerJob}}</h1>
                    </div>
                </div>
                <div class="CharacterStatsAndImage Character-InformationBorder">
                    <div class="CharacterStats">
                        <div class="main-stats">
                            <p>メインスーテタス</p>
                            <ul>
                                <li><mark>
                                        <h4 class="StatusTitel">STR: </h4><span>+{{MainStatus.STR}}</span>
                                    </mark></li>
                                <li><mark>
                                        <h4 class="StatusTitel">DEX: </h4><span>+{{MainStatus.DEX}}</span>
                                    </mark></li>
                                <li><mark>
                                        <h4 class="StatusTitel">VIT: </h4><span>+{{MainStatus.VIT}}</span>
                                    </mark></li>
                                <li><mark>
                                        <h4 class="StatusTitel">INT: </h4><span>+{{MainStatus.INT}}</span>
                                    </mark></li>
                                <li><mark>
                                        <h4 class="StatusTitel">MND: </h4><span>+{{MainStatus.MND}}</span>
                                    </mark></li>
                            </ul>
                        </div>
                        <div class="sub-stats">
                            <p>サブスーテタス</p>
                            <ul>
                                <li><mark>
                                        <h4 class="StatusTitel">物理防御力: </h4><span>+{{SubStatus.PhysicalDefense}}</span>
                                    </mark></li>
                                <li><mark>
                                        <h4 class="StatusTitel">魔法防御力: </h4><span>+{{SubStatus.MagicDefense}}</span>
                                    </mark></li>
                                <li><mark>
                                        <h4 class="StatusTitel">警戒値: </h4><span>+{{SubStatus.Vigilance}}</span>
                                    </mark></li>
                                <li><mark>
                                        <h4 class="StatusTitel">移動速度: </h4><span>+{{SubStatus.Speed}}マス</span>
                                    </mark></li>
                            </ul>
                        </div>
                    </div>
                    <div class="CharacterImage"
                        :style="{ '--bgImage': `url('${AdventurerBaseInfo.AdventurerImage}')` }">
                        &nbsp;
                    </div>
                </div>
                <div class="CharacterHP-MP-Profile ">
                    <div class="CharacterHPMP">
                        <div class="CharacterMP">
                            <div class="CharacterMaxMP ">
                                <h5>MP</h5>
                                <p>最大値</p>
                                <h5>{{Adventurerstatus.AdventurerMP}}</h5>
                            </div>
                            <div class="CharacterNowMP Character-InformationBorder">
                                <p>冒険者全員のターンが終了した時に2点回復</p>
                            </div>
                        </div>
                        <div class="CharacterHP">
                            <div class="CharacterMaxHP ">
                                <h5>HP</h5>
                                <p>最大値</p>
                                <h5>{{Adventurerstatus.AdventurerHP}}</h5>
                            </div>
                            <div class="CharacterNowHP Character-InformationBorder">
                                <p>最大値</p>
                            </div>
                            <div class="CharacterBarrier Character-InformationBorder">
                                <p>HPバリア</p>
                            </div>
                        </div>
                        <div class="CharacterItems Character-InformationBorder">
                            <div class="CharacterItemTitel ">
                                <h5>所持品</h5>
                                <p></p>
                            </div>
                            <div class="CharacterItemList " v-for="Item in AdventurerBaseInfo.AdventurerItem">
                                <p>{{Item}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="CharacterProfile Character-InformationBorder">
                        <p>{{AdventurerBaseInfo.AdventurerProfile}}</p>
                    </div>

                </div>
                <div class="Additional-Info Character-InformationBorder">
                    <div class="Additional-InfoTitel">
                        <h2>特性や補足説明</h2>
                    </div>
                    <div class="AdditionalList" v-for="Tip in AdventurerBaseInfo.AdventurerJobTips" :key="Tip.TipTitel">
                        <div class="TitTitle">
                            <h3>{{Tip.TipTitel}}</h3>
                            <p>{{Tip.TipType}}</p>
                        </div>
                        <div class="TipDitel">
                            <span>{{Tip.TipDitel}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Character-Actions" id="CharacterActions">
            <limitbreak-but-table :limitbreakobject="LimitBreak"></limitbreak-but-table>
            <div class="ActionSubjectList">
                <action-but-table :actionobject="MainAction"></action-but-table>
                <action-but-table :actionobject="SubAction"></action-but-table>
                <action-but-table :actionobject="InstantAction"></action-but-table>
            </div>
        </div>
    </div>
    <script src="./AdventurerNameStatusVue.js"></script>
    <script src="./ActionVueJS.js"></script>
</body>

</html>